
.myheading{
    color: aqua;
    font-size: 45px;
    background-color: aliceblue;
]
#three{
}
}
.first{
    background-color: aqua;
padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 30px;margin-left: 100px;
    margin-right: 100px
}
.test{
    display: flex;
    background-color: azure;
    padding: 20px}
.paragraph1{margin-left: 40px}
.main{
    display: flex;
    .paragraph2{
        background-color: red;
    }
.paragraph2{
background-color: aqua;}
.paragraph3{background-color: indigo;}
.paragraph4{background-color: cyan;}
.one{
display: flex}
.pp1{background-color: cyan}